.carousel-item {
  height: 500px;
}
.carousel-item img{
  width: 100%;
  height: auto;
}

.bg-img1 {
/* background-color: #008; */
background-size: cover;
background-image: url("./media/z4796018741064_1a08129871c60cff77e65ec1ef2b55ac.jpg");
}
.bg-img2 {
background-color: #000;
background-size: cover;
background-image: url("./media/z4796018741089_70940a57bdc407991da8956809a01ba6.jpg");
}
.bg-img3 {
background-color: #000;
background-size: cover;
background-image: url("./media/z4796018741763_a04b08399dd8eac17227f3bbb25c6323.jpg");
}
